button {
  width: 25%;
  font-size: 22px;
  border: 0.5px solid #c9c9c9;
  background-color: #e0e0e0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
}

button:hover {
  background-color: #bebbbb;
}

button:after {
  content: "";
  background: #e0e0e0;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.orange {
  background-color: #f3903e;
}

.orange:hover {
  background-color: #ce7934;
}

.orange:after {
  background: #f3903e;
}

.wide {
  width: 50%;
}
