#display {
  display: flex;
  width: 700px;
  justify-content: flex-end;
  background-color: #848593;
  height: 100px;
  align-items: center;

  p {
    font-size: 47px;
    margin: 0;
    color: #fff;
    font-weight: bold;
    padding-right: 5px;
  }
}
